/*CSS Reset*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* my code*/

/* Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    
}

a{
    text-decoration: none;
}


i{
    color:grey;
}

h4{
    padding: 5rem 10rem 0 0;
    text-align: center;
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}

/* Gallery grid */
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 5rem 4px 0 0;
  }
  
  .column {
    flex: 25%;
    max-width: 50%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
.photo-grid{
    align-items: center;
}

.container{
    max-width: 1440px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

/*---------------------------------------------------------------------------
                                Desktop / Desktop Large
---------------------------------------------------------------------------- */

/* Desktop Header ----------------- */
.header{
    padding-top: 1.5rem;
    background-color: transparent;
    backdrop-filter: blur(4px);
    height: 5rem;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
}

.main-nav{
    
    float: right;
}

.main-nav ul{
    padding-top: 1rem;
}

.main-nav ul li{
    display: inline;
    margin: 10px;
}

.nav-link{
    color: grey;
}

.nav-link:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: grey;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .nav-link:hover:after { 
    width: 100%; 
    left: 0; 
  }


.logo img{
    margin-top: -3rem;
    height: 8.5rem;
    width: 12rem;
    
}

.open-nav{
    display: none;
}

.close-nav{
    display: none;
}

/* ------------------------------------------
                Desktop Home
------------------------------------------- */
/* Desktop Section 1 */
.welcome-img{
    background-color: black;
    width: 500px;
    height: 520px ;
}
.welcome-img img{
    padding-top: 1rem;
    padding-left: 2rem;
    width:450px;
    height: 500px;
}
.section-1{
    margin: 10rem 10px 10px;
    border-bottom: 2px solid black;
    padding-bottom: 10rem;
}

.section-1 h1{
    margin: -30rem 0 0 40rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 88px;
    font-weight: bold;
}

.section-1 p{
    margin: 0 0 0 40rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 500;
    line-height: 3.5rem;
    width: 35rem;
}

/* Desktop Section 2 */
.section-2{
    margin-top: 7rem;
    margin-bottom: 25rem;
}

 .clients{
        max-width: 650px;
        background-color: black;
        float: right;
    }

.section-2 img{
    width: 300px;

}

.section-2 h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    font-weight: bold;
    padding-top: 7rem;
}

.section-2 ol{
    margin: 3rem 0 0 -5rem;
    text-align: center;
}

.section-2 ol li{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    font-weight: 500;
    line-height: 4rem;
}

/* --------------------------------------------
                Desktop Contact 
---------------------------------------------*/
.contact-form{
    margin: 5rem 0 0 0;
    padding-top: 2rem;
    background-color: none;
}
form {
    padding: 37.5px;
    margin: 50px 0;
  }
  
  h3 {
    color: grey;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 7px;
    text-align: center;
    text-transform: uppercase;
  }

  input[type='text'], [type='email'], select, textarea, ::placeholder{
	background: none;
  border: none;
	border-bottom: solid 2px grey;
	color: grey;
	font-size: 1.000em;
  font-weight: 400;
  letter-spacing: 1px;
	margin: 0em 0 1.875em 0;
	padding: 0 0 0.875em 0;
  text-transform: uppercase;
	width: 100%;
  }
  
  .underline {
    border-bottom: solid 2px #474544;
    margin: 2rem auto;
    width: 80px;
  }

  #subject_input option{
      color: black;
  }

  #form-button{
      background-color: black;
      color: white;
      border: 2px solid white;
      padding: 1rem;

  }

  #form-button:hover{
      background-color: white;
      color: black;
  }

/* ------------------------------
         Footer Section
------------------------------- */
footer{
    position: relative;
    bottom: 0%;
    width: 100%;
    background-color: black;
}

.icon{
    color: white;
    font-size: 55px;
}

.socials{
    float: right;
}

.footer-menu{
    padding-top: 1rem;
}

.nav-footer-link{
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
    font-size: 23px;
    line-height: 3rem;
}

.footer-menu ul{
    margin-bottom: -3rem;
}

/*  DESKTOP */

@media screen and (max-width: 1024px){
    .section-1{
        padding-bottom: 18rem;
    }


    .section-1 h1{
        font-size: 55px;
        margin: -27rem 0 0 30rem;
    }

    .section-1 p{
        font-size: 28px;
        line-height: 2rem;
        margin: 0 0 0rem 30rem;
    }

    .welcome-img{
        width: 450px;
        height: 430px;
    }

    .welcome-img img{
        padding-top: 1rem;
        padding-left: 2rem;
        width:400px;
        height: 400px;
    }

    .section-2{
        margin-top: 3rem;
        margin-bottom: 5rem;
    }

    .clients{
        max-width: 450px;
        background-color: black;
        float: right;
    }

    .section-2 img{
        width: 220px;

    }

    .section-2 h2{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 48px;
        font-weight: bold;
        padding-top: 7rem;
    }

    .section-2 ol li{
        font-size: 20px;
    }

}

 /*--------------------------------------------- 
                     Tablet Main
    ------------------------------------------- */


/*HEADER SECTION For Tablet and Mobile--------------------*/
@media screen and (max-width: 768px){
    body{
        margin: 3rem 0 0 0;
    }

    main{
        margin-top: 5rem;
    }

    .container{
        max-width: 768px;
    }

.header{
    width: 100%;
    z-index: 9999;
    background:transparent;
    position: fixed;
    top: 0;
    left: 0%;
    transition: all 3sec;
}

.nav{
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* logo and menu button */

.logo{
    padding: 3rem 0 0 0;
}

.logo img{
    height: 8.5rem;
    width: 12rem;
}

.logo,
.open-nav{
    color: black;
    font-weight: 500;
    transition: 0.3s;
}

/* logo and menu botton hover state */
.logo:hover,
.open-nav:hover,
.close-nav:hover{
    color: firebrick;
}

.main-nav ul{
    padding-top: 0rem;
    display: flex;
    flex-direction: column;
}


.open-nav{
    font-size: 1.5rem;
    cursor: pointer;
    display: block;
}

.nav-item{
    margin: 1.5rem;  
}

/* Menu page links */
.nav-link{
    font-size: 1.6rem;
    letter-spacing: 0.30rem;
    color: white;
    font-weight: 500;  
    transition: .3s;
}
/* Menu page link hover state */
.nav-link:hover{
    color: firebrick;
    font-weight: 500;
}


/* close menu button */
.close-nav{
    display: block;
    color: white;
    position: absolute;
    top: 0.8rem;
    right: 1.115rem;
    font-size: 2.5rem;
    cursor: pointer;
    transition: .3s;
}

    .main-nav{
        position: fixed;
        top: -250%;
        left: 0;
        width: 100%;
        padding: 0rem 0 0.5rem;
        text-align: center;
        background: black;
        transition: .4s;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        z-index: 99999;
    }
    .show-menu{
        top: 0%;
    }

   

    /*--------------- 
    Tablet Home
    ------------- */
    /* Tablet Section 1 --------------- */

    .icon{
        font-size: 20px;
    }

    .welcome-img{
        background-color: black;
        width: 300px;
        height: 240px ;
    }
    .welcome-img img{
        padding-top: 1rem;
        padding-left: 2rem;
        width:250px;
        height: 200px;
    }

    .section-1 h1{
        overflow-y: hidden;
        margin: -15rem 0 0 20rem;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 48px;
        font-weight: bold;
        width: 20rem;
    }
    
    .section-1 p{
        margin: 0 0 0 20rem;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.5rem;
        width: 20rem;
    }

    /* Tablet Section 2 */
    .clients{
        align-content: center;
        margin: 0 3rem 10rem 0;
        width: 200px;
        background-color: black;
    }

    .section-2 img{
        align-items: center;
        width: 150px;
    }

    .section-2 h2{
        font-size: 25px;
        font-weight: bold;
        padding-top: 0rem;
        text-align: center;
    }
    
    .section-2 ol{
        margin: 2rem 0 0 -5rem;
        text-align: center;
        align-content: center;
    }
    
    .section-2 ol li{
        font-size: 25px;
    }

     /* Tablet Gallery page */
     .column {
        flex: 50%;
        max-width: 50%;
      }

    footer{
        margin: 25rem 0 0 0;
    }

   
}

/* --------------------------------------------
                    Mobile
---------------------------------------------- */

@media screen and (max-width: 425px){
    ol li{
    background: grey;
    border: 1px solid black;
}

    .container{
        max-width: 425px;
    }

    .main-nav ul li a{
        font-size: 15px;
    }

    .nav-footer-link{
        font-size: 12px;
        line-height: 0rem;
    }

    .footer-menu{
        padding-top: 0.5rem;
    }

    .icon{
        font-size: 15px;
    }

    /* --------------------------------
                HOME PAGE MOBILE
    ---------------------------------- */

    /* Section 1 Mobile */

    .section-1{
        padding: 0 0 4rem 0 ;
    }

    .section-1 h1{
        margin: 2rem 0 0 0 ;
        text-align: center;
    }

    .section-1 p{
        margin: 1.5rem 0 0 0;
        text-align: center;
    }

    .welcome-img{
        text-align: center;
    }

    /* Section 2 Mobile */

    .section-2{
        text-align: center;
    }

    .clients{
        float: none;
        margin-left: 3.5rem;
        margin-bottom: 100px;
    }

    .section-2 ol li{
        margin: 0 -4rem 0 0;
    }

    /*-----------------------------
         Gallery Page Mobile 
    -----------------------------*/
    .column {
        flex: 100%;
        max-width: 100%;
      }
 
    /* Footer Mobile */
    footer{
        margin-top: 10%;
    }
}
/* -------------------
          Dark Mode
-------------------- */

#white-logo{
    display: none;
}

label{
    position: absolute;
    width: 40px;
    height: 20px;
    left:15rem;
    top: 3rem;
    border: 2px solid black;
    border-radius: 20px;
}

label:before{
    position: absolute;
    content: "";
    width: 15px;
    height: 10px;
    right: 1rem;
    top: 1px;
    border: 2px solid black;
    border-radius: 50%;
    cursor: pointer;
    background-color: black;
    transition: 0.4s;

}

label.active:before{
    background-color: black;
    right: -0.5rem;
    border:2px solid white;
}

body.night{
    background: black;
    color: white;

}


footer.nightfooter{
    background: white;
    color: black;
}

/* page load animation */
@keyframes slideInLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  
  header, body{
    animation: 1s ease-out 0s 1 slideInLeft;
    padding: 10px;
  }
  
